@media (max-width:768px) {
  .pattern0 .subclass0 {
    color: #e8e8e8;
    font-family: segoeui,serif;
    font-size: .6875em
  }
  .pattern0 .subclass1 {
    color: #ebebeb;
    font-family: segoeui,serif;
    font-size: .9375em;
    font-weight: 700
  }
  .pattern0 .subclass2 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .pattern0 .subclass3 {
    background-color: #e10000;
    box-shadow: 0 0 5px 1px rgba(255,0,0,.6784313725490196);
    border-radius: 4px
  }
  .pattern0 {
    background-color: #313131;
    box-shadow: 0 3px 3px 1px rgba(0,0,0,.1607843137254902);
    border-radius: 4px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .pattern0 {
    background-color: #313131;
    box-shadow: 0 3px 3px 1px rgba(0,0,0,.1607843137254902);
    border-radius: 4px
  }
  .pattern0 .subclass2 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .iphone6781container0column1 {
    display: flex;
    margin-left: 21px;
    width: 80px;
    height: 39px;
    align-self: center;
    flex-direction: column
  }
  .style2 {
    color: #ebebeb;
    font-family: segoeui,serif;
    font-size: .9375em;
    font-weight: 700;
    margin-top: 0;
    height: 21px
  }
  .style3 {
    color: #e8e8e8;
    font-family: segoeui,serif;
    font-size: .6875em;
    margin-top: 2px;
    height: 16px
  }
  .pattern0 .subclass3 {
    background-color: #e10000;
    box-shadow: 0 0 5px 1px rgba(255,0,0,.6784313725490196);
    border-radius: 4px
  }
  .pattern0 {
    background-color: #313131;
    box-shadow: 0 3px 3px 1px rgba(0,0,0,.1607843137254902);
    border-radius: 4px
  }
  .pattern0 .subclass2 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .iphone6781container2column1 {
    display: flex;
    margin-left: 21px;
    width: 80px;
    height: 39px;
    align-self: center;
    flex-direction: column
  }
  .style7 {
    color: #ebebeb;
    font-family: segoeui,serif;
    font-size: .9375em;
    font-weight: 700;
    margin-top: 0;
    height: 21px
  }
  .style8 {
    color: #e8e8e8;
    font-family: segoeui,serif;
    font-size: .6875em;
    margin-top: 2px;
    height: 16px
  }
  .pattern0 .subclass3 {
    background-color: #e10000;
    box-shadow: 0 0 5px 1px rgba(255,0,0,.6784313725490196);
    border-radius: 4px
  }
  .pattern0 {
    background-color: #313131;
    box-shadow: 0 3px 3px 1px rgba(0,0,0,.1607843137254902);
    border-radius: 4px
  }
  .pattern0 .subclass2 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .iphone6781container4column1 {
    display: flex;
    margin-left: 21px;
    width: 80px;
    height: 39px;
    align-self: center;
    flex-direction: column
  }
  .style12 {
    color: #ebebeb;
    font-family: segoeui,serif;
    font-size: .9375em;
    font-weight: 700;
    margin-top: 0;
    height: 21px
  }
  .style13 {
    color: #e8e8e8;
    font-family: segoeui,serif;
    font-size: .6875em;
    margin-top: 2px;
    height: 16px
  }
  .pattern0 .subclass3 {
    background-color: #e10000;
    box-shadow: 0 0 5px 1px rgba(255,0,0,.6784313725490196);
    border-radius: 4px
  }
  .pattern0 {
    background-color: #313131;
    box-shadow: 0 3px 3px 1px rgba(0,0,0,.1607843137254902);
    border-radius: 4px
  }
  .pattern0 .subclass2 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .iphone6781container6column1 {
    display: flex;
    margin-left: 21px;
    width: 80px;
    height: 39px;
    align-self: center;
    flex-direction: column
  }
  .style17 {
    color: #ebebeb;
    font-family: segoeui,serif;
    font-size: .9375em;
    font-weight: 700;
    margin-top: 0;
    height: 21px
  }
  .style18 {
    color: #e8e8e8;
    font-family: segoeui,serif;
    font-size: .6875em;
    margin-top: 2px;
    height: 16px
  }
  .derivation0 {
    background-color: #e10000;
    box-shadow: 0 0 5px 1px rgba(255,0,0,.6784313725490196);
    margin-left: 112px;
    margin-top: 46px;
    width: 8px;
    height: 8px;
    border-radius: 4px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .pattern0 .subclass0 {
    color: #e8e8e8;
    font-family: segoeui,serif;
    font-size: 1.408em
  }
  .pattern0 .subclass1 {
    color: #ebebeb;
    font-family: segoeui,serif;
    font-size: 1.92em;
    font-weight: 700
  }
  .pattern0 .subclass2 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .pattern0 .subclass3 {
    background-color: #e10000;
    box-shadow: 0 0 5px 1px rgba(255,0,0,.6784313725490196);
    border-radius: 4px
  }
  .pattern0 {
    background-color: #313131;
    box-shadow: 0 3px 3px 1px rgba(0,0,0,.1607843137254902);
    border-radius: 4px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .pattern0 {
    background-color: #313131;
    box-shadow: 0 3px 3px 1px rgba(0,0,0,.1607843137254902);
    border-radius: 4px
  }
  .pattern0 .subclass2 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .iphone6781container0column1 {
    display: flex;
    margin-left: 43px;
    width: 164px;
    height: 80px;
    align-self: center;
    flex-direction: column
  }
  .style2 {
    color: #ebebeb;
    font-family: segoeui,serif;
    font-size: 1.92em;
    font-weight: 700;
    margin-top: 0;
    height: 43px
  }
  .style3 {
    color: #e8e8e8;
    font-family: segoeui,serif;
    font-size: 1.408em;
    margin-top: 4px;
    height: 33px
  }
  .pattern0 .subclass3 {
    background-color: #e10000;
    box-shadow: 0 0 5px 1px rgba(255,0,0,.6784313725490196);
    border-radius: 4px
  }
  .pattern0 {
    background-color: #313131;
    box-shadow: 0 3px 3px 1px rgba(0,0,0,.1607843137254902);
    border-radius: 4px
  }
  .pattern0 .subclass2 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .iphone6781container2column1 {
    display: flex;
    margin-left: 43px;
    width: 164px;
    height: 80px;
    align-self: center;
    flex-direction: column
  }
  .style7 {
    color: #ebebeb;
    font-family: segoeui,serif;
    font-size: 1.92em;
    font-weight: 700;
    margin-top: 0;
    height: 43px
  }
  .style8 {
    color: #e8e8e8;
    font-family: segoeui,serif;
    font-size: 1.408em;
    margin-top: 4px;
    height: 33px
  }
  .pattern0 .subclass3 {
    background-color: #e10000;
    box-shadow: 0 0 5px 1px rgba(255,0,0,.6784313725490196);
    border-radius: 4px
  }
  .pattern0 {
    background-color: #313131;
    box-shadow: 0 3px 3px 1px rgba(0,0,0,.1607843137254902);
    border-radius: 4px
  }
  .pattern0 .subclass2 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .iphone6781container4column1 {
    display: flex;
    margin-left: 43px;
    width: 164px;
    height: 80px;
    align-self: center;
    flex-direction: column
  }
  .style12 {
    color: #ebebeb;
    font-family: segoeui,serif;
    font-size: 1.92em;
    font-weight: 700;
    margin-top: 0;
    height: 43px
  }
  .style13 {
    color: #e8e8e8;
    font-family: segoeui,serif;
    font-size: 1.408em;
    margin-top: 4px;
    height: 33px
  }
  .pattern0 .subclass3 {
    background-color: #e10000;
    box-shadow: 0 0 5px 1px rgba(255,0,0,.6784313725490196);
    border-radius: 4px
  }
  .pattern0 {
    background-color: #313131;
    box-shadow: 0 3px 3px 1px rgba(0,0,0,.1607843137254902);
    border-radius: 4px
  }
  .pattern0 .subclass2 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .iphone6781container6column1 {
    display: flex;
    margin-left: 43px;
    width: 164px;
    height: 80px;
    align-self: center;
    flex-direction: column
  }
  .style17 {
    color: #ebebeb;
    font-family: segoeui,serif;
    font-size: 1.92em;
    font-weight: 700;
    margin-top: 0;
    height: 43px
  }
  .style18 {
    color: #e8e8e8;
    font-family: segoeui,serif;
    font-size: 1.408em;
    margin-top: 4px;
    height: 33px
  }
  .derivation0 {
    background-color: #e10000;
    box-shadow: 0 0 5px 1px rgba(255,0,0,.6784313725490196);
    margin-left: 229px;
    margin-top: 94px;
    width: 16px;
    height: 16px;
    border-radius: 4px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .pattern0 .subclass0 {
    color: #e8e8e8;
    font-family: segoeui,serif;
    font-size: 1.6866666666666665em
  }
  .pattern0 .subclass1 {
    color: #ebebeb;
    font-family: segoeui,serif;
    font-size: 2.3em;
    font-weight: 700
  }
  .pattern0 .subclass2 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .pattern0 .subclass3 {
    background-color: #e10000;
    box-shadow: 0 0 5px 1px rgba(255,0,0,.6784313725490196);
    border-radius: 4px
  }
  .pattern0 {
    background-color: #313131;
    box-shadow: 0 3px 3px 1px rgba(0,0,0,.1607843137254902);
    border-radius: 4px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .pattern0 {
    background-color: #313131;
    box-shadow: 0 3px 3px 1px rgba(0,0,0,.1607843137254902);
    border-radius: 4px
  }
  .pattern0 .subclass2 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .iphone6781container0column1 {
    display: flex;
    margin-left: 52px;
    width: 196px;
    height: 96px;
    align-self: center;
    flex-direction: column
  }
  .style2 {
    color: #ebebeb;
    font-family: segoeui,serif;
    font-size: 2.3em;
    font-weight: 700;
    margin-top: 0;
    height: 52px
  }
  .style3 {
    color: #e8e8e8;
    font-family: segoeui,serif;
    font-size: 1.6866666666666665em;
    margin-top: 5px;
    height: 39px
  }
  .pattern0 .subclass3 {
    background-color: #e10000;
    box-shadow: 0 0 5px 1px rgba(255,0,0,.6784313725490196);
    border-radius: 4px
  }
  .pattern0 {
    background-color: #313131;
    box-shadow: 0 3px 3px 1px rgba(0,0,0,.1607843137254902);
    border-radius: 4px
  }
  .pattern0 .subclass2 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .iphone6781container2column1 {
    display: flex;
    margin-left: 52px;
    width: 196px;
    height: 96px;
    align-self: center;
    flex-direction: column
  }
  .style7 {
    color: #ebebeb;
    font-family: segoeui,serif;
    font-size: 2.3em;
    font-weight: 700;
    margin-top: 0;
    height: 52px
  }
  .style8 {
    color: #e8e8e8;
    font-family: segoeui,serif;
    font-size: 1.6866666666666665em;
    margin-top: 5px;
    height: 39px
  }
  .pattern0 .subclass3 {
    background-color: #e10000;
    box-shadow: 0 0 5px 1px rgba(255,0,0,.6784313725490196);
    border-radius: 4px
  }
  .pattern0 {
    background-color: #313131;
    box-shadow: 0 3px 3px 1px rgba(0,0,0,.1607843137254902);
    border-radius: 4px
  }
  .pattern0 .subclass2 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .iphone6781container4column1 {
    display: flex;
    margin-left: 52px;
    width: 196px;
    height: 96px;
    align-self: center;
    flex-direction: column
  }
  .style12 {
    color: #ebebeb;
    font-family: segoeui,serif;
    font-size: 2.3em;
    font-weight: 700;
    margin-top: 0;
    height: 52px
  }
  .style13 {
    color: #e8e8e8;
    font-family: segoeui,serif;
    font-size: 1.6866666666666665em;
    margin-top: 5px;
    height: 39px
  }
  .pattern0 .subclass3 {
    background-color: #e10000;
    box-shadow: 0 0 5px 1px rgba(255,0,0,.6784313725490196);
    border-radius: 4px
  }
  .pattern0 {
    background-color: #313131;
    box-shadow: 0 3px 3px 1px rgba(0,0,0,.1607843137254902);
    border-radius: 4px
  }
  .pattern0 .subclass2 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .iphone6781container6column1 {
    display: flex;
    margin-left: 52px;
    width: 196px;
    height: 96px;
    align-self: center;
    flex-direction: column
  }
  .style17 {
    color: #ebebeb;
    font-family: segoeui,serif;
    font-size: 2.3em;
    font-weight: 700;
    margin-top: 0;
    height: 52px
  }
  .style18 {
    color: #e8e8e8;
    font-family: segoeui,serif;
    font-size: 1.6866666666666665em;
    margin-top: 5px;
    height: 39px
  }
  .derivation0 {
    background-color: #e10000;
    box-shadow: 0 0 5px 1px rgba(255,0,0,.6784313725490196);
    margin-left: 275px;
    margin-top: 113px;
    width: 20px;
    height: 20px;
    border-radius: 4px
  }
}
@media (min-width:1200px) {
  .pattern0 .subclass0 {
    color: #e8e8e8;
    font-family: segoeui,serif;
    font-size: 2.2em
  }
  .pattern0 .subclass1 {
    color: #ebebeb;
    font-family: segoeui,serif;
    font-size: 3em;
    font-weight: 700
  }
  .pattern0 .subclass2 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .pattern0 .subclass3 {
    background-color: #e10000;
    box-shadow: 0 0 5px 1px rgba(255,0,0,.6784313725490196);
    border-radius: 4px
  }
  .pattern0 {
    background-color: #313131;
    box-shadow: 0 3px 3px 1px rgba(0,0,0,.1607843137254902);
    border-radius: 4px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .pattern0 {
    background-color: #313131;
    box-shadow: 0 3px 3px 1px rgba(0,0,0,.1607843137254902);
    border-radius: 4px
  }
  .pattern0 .subclass2 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .iphone6781container0column1 {
    display: flex;
    margin-left: 67px;
    width: 256px;
    height: 125px;
    align-self: center;
    flex-direction: column
  }
  .style2 {
    color: #ebebeb;
    font-family: segoeui,serif;
    font-size: 3em;
    font-weight: 700;
    margin-top: 0;
    height: 67px
  }
  .style3 {
    color: #e8e8e8;
    font-family: segoeui,serif;
    font-size: 2.2em;
    margin-top: 6px;
    height: 51px
  }
  .pattern0 .subclass3 {
    background-color: #e10000;
    box-shadow: 0 0 5px 1px rgba(255,0,0,.6784313725490196);
    border-radius: 4px
  }
  .pattern0 {
    background-color: #313131;
    box-shadow: 0 3px 3px 1px rgba(0,0,0,.1607843137254902);
    border-radius: 4px
  }
  .pattern0 .subclass2 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .iphone6781container2column1 {
    display: flex;
    margin-left: 67px;
    width: 256px;
    height: 125px;
    align-self: center;
    flex-direction: column
  }
  .style7 {
    color: #ebebeb;
    font-family: segoeui,serif;
    font-size: 3em;
    font-weight: 700;
    margin-top: 0;
    height: 67px
  }
  .style8 {
    color: #e8e8e8;
    font-family: segoeui,serif;
    font-size: 2.2em;
    margin-top: 6px;
    height: 51px
  }
  .pattern0 .subclass3 {
    background-color: #e10000;
    box-shadow: 0 0 5px 1px rgba(255,0,0,.6784313725490196);
    border-radius: 4px
  }
  .pattern0 {
    background-color: #313131;
    box-shadow: 0 3px 3px 1px rgba(0,0,0,.1607843137254902);
    border-radius: 4px
  }
  .pattern0 .subclass2 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .iphone6781container4column1 {
    display: flex;
    margin-left: 67px;
    width: 256px;
    height: 125px;
    align-self: center;
    flex-direction: column
  }
  .style12 {
    color: #ebebeb;
    font-family: segoeui,serif;
    font-size: 3em;
    font-weight: 700;
    margin-top: 0;
    height: 67px
  }
  .style13 {
    color: #e8e8e8;
    font-family: segoeui,serif;
    font-size: 2.2em;
    margin-top: 6px;
    height: 51px
  }
  .pattern0 .subclass3 {
    background-color: #e10000;
    box-shadow: 0 0 5px 1px rgba(255,0,0,.6784313725490196);
    border-radius: 4px
  }
  .pattern0 {
    background-color: #313131;
    box-shadow: 0 3px 3px 1px rgba(0,0,0,.1607843137254902);
    border-radius: 4px
  }
  .pattern0 .subclass2 {
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070
  }
  .iphone6781container6column1 {
    display: flex;
    margin-left: 67px;
    width: 256px;
    height: 125px;
    align-self: center;
    flex-direction: column
  }
  .style17 {
    color: #ebebeb;
    font-family: segoeui,serif;
    font-size: 3em;
    font-weight: 700;
    margin-top: 0;
    height: 67px
  }
  .style18 {
    color: #e8e8e8;
    font-family: segoeui,serif;
    font-size: 2.2em;
    margin-top: 6px;
    height: 51px
  }
  .derivation0 {
    background-color: #e10000;
    box-shadow: 0 0 5px 1px rgba(255,0,0,.6784313725490196);
    margin-left: 358px;
    margin-top: 147px;
    width: 26px;
    height: 26px;
    border-radius: 4px
  }
}